@page "/filetransfer"

@using Microsoft.AspNetCore.Components.Forms
@using BlazorApp2Test.FileAccess


<InputFile OnChange="HandleSelection" />
<button @onclick="Upload" disabled="@(!fileSelected)">Upload</button>

<button @onclick="RefreshPage">Refresh</button>

@if (_file.error != null)
{
    <p class="text-danger">@_file.error</p>
}

@if (_file.isUploaded)
{
    <p class="text-success">File uploaded successfully.</p>

    @code
    {
    //TODO: provide download here:

}

}



@code {

    private IBrowserFile selectedFile;
    private bool fileSelected = false;
    private FileAccess _file = new FileAccess();


    void HandleSelection(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        if (selectedFile != null)
        {
            fileSelected = true;
        }
    }

    private async Task Upload()
    {
         await _file.UploadFile(selectedFile);
    }

    private void RefreshPage()
    {
        StateHasChanged();
    }
}
