@page "/resource"
@inject ResourceService _resourceService
@inject ErrorService _errorService
@inject UserService _userService

@using BlazorApp2Test.Models

<PageTitle>GWTool - Resources</PageTitle>

@if (rootFolder != null)
{
    <RecursiveFolderView Folder=@rootFolder />
}
else
{
    <div class="section-sub-title text-center mt-4">
        @if(!_userService.GetAuth()){

            @Helper.MSG_NOPERMISSION;
        }
        else{

            @Helper.MSG_NO_MEMO_PERMISSION;
        }
    </div>
}

<Loading IsLoading="@isLoading" />

@code {
    
    private bool isLoading = false;
    
    private FolderItem rootFolder;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            if (_userService.GetResourceAccess())
            {
                rootFolder = await _resourceService.GetFolderStructureAsync(Helper.ROOT_FOLDER);
            }
        }
        catch (Exception ex)
        {
            _errorService.ShowModal(ex.Message);
        }
        finally
        {
            isLoading = false;
        }
    }
}