@page "/"

<PageTitle>GWTools</PageTitle>


@{
    base.BuildRenderTree(__builder);
}

    
<div class="row px-4 pt-3 pb-3 mt-3 mb-3">
    <div class="col-12 py-2">
        <p class="section-name">This is a simple tool that may assists you in daily working!</p>
        <p class="section-name">Please click above tooltag to select a tool :)</p>
    </div>
</div>

@*<div class="p-4 mb-4 rounded">
    <div class="row mb-2 bg-white px-2 py-4 rounded">
        <div class="col-12 mb-2">
            <h5 class="fw-bold">Please click above tooltag to select a tool :)</h5>
        </div>
    </div>
</div>*@
