@page "/"


@{
    base.BuildRenderTree(__builder);
}

    
<div class="border-bottom container-fluid">
    <div class="my-5 text-center container-fluid">
        <div class="app-title-text fw-bold mb-2">
            Welcome!<br />
        </div>
        <div class="section-text container-fluid">
            GWTool is a website which provides simple productive tools for
            single user.<br /><br />
            Please go and explore how GWTool helps you in your daily works
        </div>
        <div class="section-sub-title fw-bold mt-2">
            Thank you for visiting!<br />
        </div>
    </div>
</div>