@page "/"

<PageTitle>GWTools</PageTitle>


@{
    base.BuildRenderTree(__builder);
}

    
<div class="border-bottom">
    <div class="col-12 my-5 text-center">
        <div class="app-title-text fw-bold mb-2">
            Welcome!<br />
        </div>
        <div class="section-text">
            GWTool is a website which provides simple productive tools for
            single user.<br /><br />
            For tool instructions, find corresponding tool name underneath.<br />
            For about me info, navigate to "About" page through Navigation bar above.<br />
        </div>
        <div class="section-sub-title fw-bold mt-2">
            Thank you for visiting!<br />
        </div>
    </div>
</div>

<div class="border-bottom">
    <div class="col-12 my-5 text-center">
        <div class="section-name fw-bold mb-2">
            Text Transfer<br />
        </div>
        <div class="section-text">
            Within GWTool, I've provided an intuitive system for transferring text from one page to another. <br />
            To begin, navigate to the Text Transfer - (Sender) page by clciking TextTransfer from Navigation bar above.<br />
            Here, you'll find a textbox where you can input any text you'd like to send.<br />
            After you've entered your desired text, click the "Submit" button. <br />
            Once submitted successfully, a confirmation message "Successfully Submitted!" will appear.<br />
            <br />
            To view the text you've transferred, head over to the Text Transfer - (Receiver) page by clciking TextReceiver from Navigation bar above.<br />
            The text you sent from the Sender page will be displayed here.<br />
            You can easily copy this text to your clipboard by pressing the "Copy" button.<br />
            If the text is copied, the button will change to display "Copied!". <br />
            Additionally, you have the options to "Refresh" the page or "Clean" the text area to clear the displayed text.
        </div>
    </div>
</div>

<div class="border-bottom">
    <div class="col-12 my-5 text-center">
        <div class="section-name fw-bold mb-2">
            Word Changer<br />
        </div>
        <div class="section-text">
            The Word Changer page offers a handy tool for modifying specific words within a piece of text.<br />
            To use this feature, navigate to the Word Chnager page.<br />
            Once there, you'll find a text area where you can input the content in which you wish to change words.<br />
            Below this, there are two input fields: one for entering the word you'd like to change (enter changing word),
            and another for specifying the word it should be replaced with (enter word going to be).<br />
            <br />
            For those particular about case matching, there's a "Case Sensitive" switch. <br />
            When activated, the word-changing operation will strictly consider word case during the process.<br?

            Once your inputs are set, press the "Submit" button. The modified text will be displayed in a separate box below. <br />
            Should you wish to copy this text, just hit the "Copy" button.<br />
            If successful, this button will confirm the action with a "Copied!" label. <br />
            For a fresh start, the "Clear" button will reset everything for you.<br />
            <br />
            With the Word Changer in BlazorApp2Test, modifying text content becomes a breeze!
        </div>
    </div>
</div>

<div class="col-12 my-5 text-center">
   <div class="section-name fw-bold mb-2">
      File Transfer<br />
   </div>
   <div class="section-text">
      GWTool's File Transfer page serves as a central hub for file uploads and management.<br />
      To access this utility, navigate to File Transfer. <br />
      <br />
      When you're ready to upload a file, use the file selector to choose your desired document. <br />
      After selection, the "Upload" button will become active; click on it to begin the upload process. <br />
      If a file with the same name already exists, you'll be prompted with options to either replace the existing file or use a different name.<br />
      <br />
      In the "Current downloadable files" section, you'll see a list of all uploaded files. <br />
      Each file name is accompanied by a direct download link and a "delete" button. <br />
      If you wish to remove a specific file, simply click its corresponding "delete" button.<br />
      For those looking to clear all uploads, the "Delete All" button has got you covered.<br />
      <br />
      To ensure smooth operations, we've incorporated interactive dialog boxes (modals) for situations like file name conflicts or deletion confirmations.<br />
      These modals provide feedback and further action choices.<br />
      <br />
      We trust the File Transfer page in GWTool will make your file upload and management tasks seamless and efficient!
   </div>
</div>
