@page "/"

<PageTitle>GWTools</PageTitle>


@{
    base.BuildRenderTree(__builder);
}

    
<div class="col-12 mt-5">
    <div class="text-center">
       <div class="section-sub-title">
          Welcome!<br />
          This is a simple tool web<br />
          Here will be more README info for each tag<br />
          Thank you for visiting!
       </div>
    </div>
</div>