@page "/"

@inject NavigationManager NavigationManager
@inject UserService _userService


@{
    base.BuildRenderTree(__builder);
}

    
<div class="container-fluid">
    <div class="my-5 text-center container-fluid">
        <div class="app-title-text fw-bold mb-2">
            Welcome!<br />
        </div>
        <div class="section-text container-fluid">
            GWTool is a website which provides simple productive tools for
            single user.<br />
            Please go and explore how GWTool helps you in your daily works<br /><br />
        </div>
        @if (!_userService.GetAuth())
        {
            <a href="/login/@Uri.EscapeDataString(NavigationManager.Uri)">Log in to your account</a><br />
            <div>or <br /></div>
            <a href = "/register/@Uri.EscapeDataString(NavigationManager.Uri)">Register here</a>
        }
        <div class="section-sub-title fw-bold mt-2">
            Thank you for visiting!<br />
        </div>
    </div>
</div>