@page "/"

<PageTitle>GWTools</PageTitle>


@{
    base.BuildRenderTree(__builder);
}

    
<div class="row px-4 pt-3 pb-3 mt-3 mb-3">
    <div class="col-12 py-2">
        <p class="section-name">Welcome!</p>
        <p class="section-name">This is a simple tool that may assists you in daily working!</p>
        <p class="section-name">Please click above tooltags to select a tool :)</p>
    </div>
</div>