@page "/profile"

@inject ErrorService _errorService
@inject UserService _userService
@inject RenderService _renderService


@inherits Component


@if (_userService.GetAuth())
{
    <div class="row px-4">
        <div class="col-12 col-sm-6 col-md-8 py-2">
            <p class="section-name">Account Settings</p>
        </div>
    </div>
}



@code {

    protected override async Task OnInitializedAsync()
    {
        _renderService.OnEventTriggered += () => RefreshPage();
    }
}