@page "/textreceiver"
@using BlazorApp2Test.Data

@inject TextData _textData
@inject IJSRuntime JSRuntime

@inherits Component


<div class="row px-4 pt-2 mt-2">
    <div class="col-12 col-sm-6 col-md-8 py-2">
        <p class="section-name">Text Transfer - Receiver</p>
    </div>
</div>

<div class="mx-4 bg-light rounded">

    <div>
        <textArea id=@Helper.TextReceiverID rows="8" class="form-control rounded" readonly type="text" value="@_textData.Text" />
    </div>
</div>
<div class="mx-4 py-3">
    <button type="button" class="rounded" @onclick="CopyTextToClipboard">Copy</button>
    <button class="rounded" @onclick="RefreshPage">Refresh</button>
    <button class="rounded" @onclick="Clean">Clean</button>
</div>

@code {

        private async Task CopyTextToClipboard()
        {
            await JSRuntime.InvokeVoidAsync("copyClipboard", Helper.TextReceiverID);
        }

        private void Clean()
        {
            _textData.Text = null;   
        }

}
