@page "/textreceiver"
@using BlazorApp2Test.Data

@inject TextData _textData


<h3>TextReceiver</h3>

<pre class="wrapped-text">@_textData.Text</pre>

<button @onclick="Refresh">Refresh</button>

@code {

    private void Refresh()
    {
        StateHasChanged();
    }

}
