@page "/textreceiver"
@using BlazorApp2Test.Data

@inject TextData _textData
@inherits Component


<h3>TextReceiver</h3>

<pre class="wrapped-text">@_textData.Text</pre>

<button @onclick="RefreshPage">Refresh</button>

@code {

  

}
