@page "/texttransfer"
@using BlazorApp2Test.Data;

@inject TextData _textData
@inject IJSRuntime JSRuntime

@inherits Component

<PageTitle>GWTool - Text</PageTitle>


<div class="row px-4">
    <div class="col-12 col-sm-6 col-md-8 py-2">
        <p class="section-name">Text Transfer</p>
    </div>
</div>

<div class="mx-4 pb-3">  

    <pre>
        <textarea rows="8" class="px-4 form-control bg-light rounded" @bind="@text">@text</textarea>
    </pre>

    <button class="rounded" @onclick="Submit">Submit</button>
    <button class="rounded" @onclick="Clean">Clean</button>
    @if(_textData.Text != null)
    {
        <label class="text-success ms-1">
            Successfully Submitted!
        </label>
    }
</div>

<div class="mx-4 bg-light rounded">

    <div>
        <textArea rows="8" class="form-control rounded" readonly type="text" value="@_textData.Text" />
    </div>

</div>

<div class="mx-4 py-3">

    @if (copied == true)
    {
        <button type="button" class="rounded btn-secondary-active me-1" color="green" @onclick="CopyTextToClipboard">Copied!</button>
    }
    else
    {
        <button type="button" class="rounded me-1" @onclick="CopyTextToClipboard">Copy</button>
    }

    <button class="rounded" @onclick="RefreshPage">Refresh</button>
</div>

@code {

    private string? text;

    private bool copied = false;

    private void Submit()
    {
        _textData.Text = text;
        copied = false;
    }

    private async Task CopyTextToClipboard()
    {
        if (_textData.Text != null)
        {
            await JSRuntime.InvokeVoidAsync("copyToClipboard", _textData.Text);
            copied = true;
        }
    }

    private void Clean()
    {
        _textData.Text = null;
        text = null;
        copied = false;
    }
}
