@page "/texttransfer"
@using BlazorApp2Test.Data;

@inject TextData _textData


<div class="row px-4 pt-2 mt-2">
    <div class="col-12 col-sm-6 col-md-8 py-2">
        <p class="section-name">Text Transfer - Sender</p>
    </div>
</div>

<div class="mx-4 pb-3">  
    <pre>
        <textarea rows="8" class="px-4 form-control bg-light rounded" @bind="@text">@_textData.Text</textarea>
    </pre>

    <button class="rounded" @onclick="Submit">Submit</button>
    @if(_textData.Text != null)
    {
        <label class="text-success">
            Successfully Submitted!
        </label>
    }
</div>




@code {
    private string? text;

    private void Submit()
    {

        _textData.Text = text;
    }
}
