@inject NavigationManager _navigationManager


@inherits LayoutComponentBase

<PageTitle>GWTools</PageTitle>

<header class="container-fluid">
    <div class="row agency-banner px-4 py-2">
        <div class="col-8 banner-content">
            <p class="app-title-text">GWTool</p>
        </div>
    </div>
    <NavMenu />
</header>

<div role="main" class="px-4 pt-0 pb-2">
    <div class="container-fluid px-2 bg-primary rounded">
        @Body   
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container-fluid text-center">
        <span class="fw-bold" title="">&copy; 2023 - Guanqiao Wang</span>
    </div>
</footer>