@inject NavigationManager _navigationManager

@inherits LayoutComponentBase

<PageTitle>GWTools</PageTitle>

<header class="container-fluid top-banner top-banner-container">

    <div class="flex-grow ms-4" style="display: flex; align-items: center;">
      <div class="app-title-text mt-2 me-3 text-white">GWTool</div>
      <NavMenu />
   </div>
</header>

<div role="main" class="px-2 pb-2 body-position">
    <div class="container-fluid bg-white">
        @Body   
    </div>
</div>


<footer class="border-top footer text-muted">
    <div class="container-fluid text-center">
        <span class="fw-bold" title="">&copy; 2023 - Guanqiao Wang</span>
    </div>
</footer>