@inject NavigationManager _navigationManager

@inherits LayoutComponentBase

<PageTitle>GWTool</PageTitle>

<header class="container-fluid top-banner top-banner-container">

    <div class="flex-grow ms-4" style="display: flex; align-items: center;">
        <a href="" class="app-title-text mt-2 me-3 text-white no-underline">GWTool</a>
      <NavMenu />
   </div>
</header>

<div role="main" class="bg-white px-2 pb-2 body-position container-fluid">
        @Body   
</div>


<footer class="border-top footer text-muted">
    <div class="container-fluid text-center">
        <span class="fw-bold" title="">&copy; 2023 - Guanqiao Wang</span>
    </div>
</footer>