<nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm fw-bold pt-3 mt-2">
  
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav px-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="TextTransfer">
                    <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Sender
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="TextReceiver">
                    <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Receiver
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="wordchanger">
                    <span class="oi oi-transfer" aria-hidden="true"></span> Word Changer
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="filetransfer">
                    <span class="oi oi-document" aria-hidden="true"></span> file transfer
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="kiskis">
                    <span class="oi oi-heart" aria-hidden="true"></span> KisKis
                </NavLink>
            </li>
        </ul>
    </div>
</nav>