@charset "utf-8";

/* ------------------ global styles ------------------ */
body {
    font-family: 'Source Sans Pro', myriad-pro, Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    color: #022231;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.required-field {
    color: #ff6347;
    font-weight: 600;
}

a,
a.page-link {
    color: #146588;
}

/*div[role=main] {
    min-width: 640px;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.p-static {
    position: static !important;
}

/* ------------------ loading overlay ------------------ */

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    visibility: hidden;
}

.spanner {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.hidden {
    display: none;
}

.spanner, .overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
}

    .spanner.show, .overlay.show {
        opacity: 1
    } */

.loading-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.spinner {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #e4648f;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: -76px 0 0 -76px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

/* ------------------ banner styles ------------------ */

.app-logo-placeholder {
    width: 110px;
    padding: 5px 0;
    margin-right: 10px;
    border: 1px dashed #33f;
    border-radius: 5px;
    text-align: center;
}

    .app-logo-placeholder::after {
        content: "Logo here";
    }

.app-logo {
    /* 
  width: 110px;
  display: block;
  margin-right: 10px;
  padding: 0;
  */
}

.login-user-name {
    border-right: 1px solid #31363c;
    margin: 5px 0 0 0;
}

.login-user-type {
    border-right: 1px solid #31363c;
    margin: 5px 5px 0 0;
}

.top-banner {
   background-image: url('../images/main_page_bg.jpg');
   background-size: cover; /* Ensure the image covers the full width of its container */
   background-repeat: no-repeat; /* Prevent the image from repeating if it's too small for the container */
   height: 30vh; /* Set the height to 1/3 of the viewport height */
   position: fixed; /* This will fix the header at the top */
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

.top-banner-container {
   display: flex; /* Enables flexbox layout */
   flex-direction: column; /* Elements stack vertically */
   justify-content: flex-end; /* Pushes child content to the bottom */
}

.body-position{
   padding-top: 30vh;
}

/* ------------------ text styles ------------------ */

.app-title-text {
   font-weight: 600;
   font-size: 3rem;
   justify-content: flex-end; /* Pushes child content to the bottom */
}

.app-title-sub-text {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.form-section-head {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
}

.disclaimer-text {
    font-size: .8rem;
}

h4.panel-title {
    font-size: 1.25rem;
    color: #333;
    font-weight: 600;
}

.error-question {
    font-size: 1.3rem;
    font-weight: 600;
}

.logo-text {
    color: #f8f9f8;
}

.section-name {
    font-size: 2rem;
    font-weight: 600;
    margin: 15px 0 0;
}

.section-sub-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.section-text {
   font-weight: 500;
   font-size: 1.2rem;
   word-wrap: break-word;
}

.table-1 tbody tr {
    transition: background-color 0.37s ease;
}

    .table-1 tbody tr:hover {
        background: #98eaa2;
    }

.table-1 td a {
    background: #f8f9f8;
    padding: 5px 10px;
    border-radius: 5px;
}

/* ------------------ Icon styles ------------------ */
.btn-light i.bi {
    color: #334359;
}


/* error message styles */
.validation-summary-errors ul li {
    list-style: none;
}

/* ------------------ bootstrap overrides ------------------ */
.btn-info {
    background: #16837C;
}

.bg-light {
    background: #ebebeb !important;
}

.bg-gray {
    background: #fff;
}

.bg-white {
    background: #fff !important;
}

.bg-primary {
    background: #444 !important;
}

.rounded {
    border-radius: 10px !important;
}

.border-bottom.dark-border {
    border: 1px solid #333;
}

a.btn.btn-dark {
    color: #fff;
}

    a.btn.btn-dark:hover {
        color: #fff;
    }

.btn-dark i {
    color: #fff;
}

.bg-grad-1 {
    background: linear-gradient(0deg, #135A78 0%, #2fa49e 100%);
}

.custom-control-label::before {
    background-color: #fff;
    border: 1px solid #aaa;
}

.btn {
    border: none;
}

    .btn i {
        color: #fff;
    }

.btn-dark {
    background: #334359;
    color: #fff;
}

    .btn-dark:hover,
    .btn-dark:active {
        background: #516785;
        color: #fff;
    }

.btn-light {
    background: #eaeff5;
    color: #334359;
    box-shadow: none;
}

   .btn-light:hover,
   .btn-light:active,
   .btn-light:focus {
      background: #a4b4c9;
      border: none;
      box-shadow: none;
   }

.btn-primary {
   background: #ff9999;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 0;
}

   .btn-primary:hover,
   .btn-primary:active,
   .btn-primary:focus {
      background: #ff5050;
      color: white;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
   }

.border-primary {
    background-color: #42c6bf !important;
    border-color: #42c6bf !important;
}

.btn-secondary {
   border: 1px solid #fff;
   background: #333;
   color: #fff;
   border-radius: 0;
}

    .btn-secondary:hover,
    .btn-secondary:active {
        background: #647C9d;
        color: #fff;
        /*border: none;*/
    }

.btn-secondary-active {
    background: #8194ad;
    color: #fff;
}

    .btn-secondary-active:hover,
    .btn-secondary-active:active {
        background: #8194ad;
        color: #fff;
    }

.btn-clear {
    border: none !important;
    background: none !important;
}

    .btn-clear:hover,
    .btn-clear:active {
        text-decoration: underline !important;
    }

.move-left {
    margin-left: -18px; /* Adjust this value as needed */
}

.border-light {
    border-color: #fff !important;
    background-color: #fff !important;
    opacity: 1.0;
}

.border-secondary {
    background-color: #647C9d !important;
    border-color: #647C9d !important;
    opacity: 1.0;
}

.border-gold {
    border-color: #ffcf85 !important;
    background-color: #ffcf85 !important;
    opacity: 1.0;
}

.dropdown-item:active {
    background: #8194ad;
}

.form-control-plaintext, .form-control-plaintext {
    outline-color: #ced4da;
}

.navbar-phone {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}
.navbar-nav {
    background: #efefef;
    border-radius: 6px;
}
.nav-item-margin {
    margin-right: 1.5rem;
}

.move-left{

    margin-right: -29px;
}

.move-up {
    position: relative;
    top: -7px; /* Adjust the value as needed */
}


select:disabled {
    appearance: none;
}

/* ------------------ Card Styles --------------------------*/

.card-header {
    background: #eaeff5;
}


/* ------------------ Comments Section ----------------------*/


.row.history {
    color: grey !important;
    font-size: 0.9rem;
}

.comments-content {
    padding: 0.25rem 0.75rem 0.5rem;
}

/* ------------------ Accordion overrides ------------------ */

.accordion-button {
    background-color: #f0f0f0;
}

    .accordion-button .collapsed {
        border-bottom: 1px solid #a4b4c9;
    }

    .accordion-button:not(.collapsed) {
        background: #a4b4c9;
        color: #333;
        box-shadow: none;
        border: none;
    }

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.accordion-collapse.show {
    background: #eaeff5;
    border-radius: 0 0 7px 7px;
    margin-bottom: 10px;
}

/* ------------------ table styles ------------------ */

table th, table td {
    vertical-align: middle;
}

.table-no-results {
    text-align: center;
    font-weight: 700;
    font-size: large;
    margin: 81px -12px 20px;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

/* ------------------ data tables override ------------------ */
/*.dataTable td a {
  background: #42C6BF;
  display: block;
  padding: 5px 2px;
  border-radius: 5px;
  text-align: center;
  color: #31363B;
}*/

.table thead th, .table th {
    /*  border: none;*/
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
}

.dataTables_wrapper .dataTables_filter label, .dataTables_wrapper .dataTables_info {
    color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #fff;
    margin-left: 0.5rem;
}

.bg-white .dataTables_wrapper .dataTables_filter label, .bg-white .dataTables_wrapper .dataTables_info {
    color: #022231;
}

.dataTables_wrapper .dataTables_filter, .dataTables_info {
    margin-bottom: 30px;
    margin-top: 20px;
}

.no-search-filter .dataTables_wrapper .row:nth-child(1) {
    margin-bottom: 0;
    margin-top: 0;
}


#categoryTable_wrapper .row:nth-child(1) {
    margin-bottom: 0;
    margin-top: 0;
}

.dataTables_length {
    display: none;
}

.dataTables_wrapper table {
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #ffcf85 !important;
    color: #31363C !important;
    border: #ffcf85 solid 1px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #31363c !important;
    border: none;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .paginate_button:active, .paginate_button:focus {
        color: #31363c !important;
        border: none;
        background: #e9ecef;
    }

/*** Megamenu overrides ***/

.megamenu .ms-options {
    width: calc(100% - 50px);
    /* Leaves 25px of space on the right side */
    margin-left: 25px;
}

.megamenu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.megamenu li {
    width: calc( calc(100% / 3) - 5px);
    /* 3 columns with �space for column gutter */
}

.wrapped-text{
    word-wrap: break-word;
    white-space: pre-wrap;

}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* ------------------Self-design-tmp-use  ------------------ */

.flex-container {
   display: flex;
   justify-content: center; /* Aligns items horizontally to the center */
   align-items: center; /* Aligns items vertically to the center */
}

.memo-modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 2;
}

.memo-modal-content {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 70%;
   max-height: 700px;
   max-width: 600px;
   transform: translate(-50%, -50%);
   background-color: #f4f4f4;
   padding: 20px;
   z-index: 3;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow-y: scroll;
}

@media (max-height: 800px) {
   .memo-modal-content {
      height: 90%;
      max-height: none;
   }
}

@media (max-width: 700px) {
   .memo-modal-content {
      width: 90%;
      max-width: none;
   }
}

.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 2;
}

.modal-content {
   position: fixed;
   top: 50%;
   left: 50%;
   width: auto;
   transform: translate(-50%, -50%);
   background-color: #f4f4f4;
   padding: 20px;
   z-index: 3;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   cursor: pointer;
   align-self: flex-end;
   z-index: 4;
   position: relative;
}

.memo-container{
   display: flex;
   flex-wrap: wrap;
}

.memo-img {
   max-width: 375px;
   height: auto;
   flex: none;
   border-radius: 25px;
}

.memo-card {
   background: #ff9999;
   border-radius: 25px;
   flex-grow: 1;
   flex-basis: 200;
   display: flex;
}

.memo-content {
   display: flex;
   flex-direction: column;
   flex-grow: 8;
}

.memo-info {
   display: flex;
   justify-content: space-between;
}

.no-underline:hover {
   text-decoration: none; /* This removes the underline */
}

.error-modal {
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity for the background */
}

.error-content {
   background-color: #FFB6C1; /* Pink background for error */
   margin: 10% auto; /* 15% from the top and centered horizontally */
   padding: 10px;
   width:max-content;
   border: 3px solid;
   border-color: rgb(240, 128, 128);
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Adding some shadow for depth */
   border-radius: 20px; /* Optional: for rounded corners */
   text-align: center;
}

.error-text {
   padding-top: 25px;
   color: white; /* White text color */
   font-size: 16px; /* Adjust the font size as needed */
   font-weight: bold;
   white-space: nowrap;
   margin-left: 20px;
   margin-right: 20px;
}

.password-input {
   width: 150px; /* Set the width of the input field */
   margin-right: 20px;
   margin-top: 15px;
}

.welcome-message {
   margin-right: 30px;
   margin-top: 15px;
   font-weight: 600;
   font-size: 2rem;
}

.logout-text {
   margin-top: 30px;
   font-weight: bold;
   font-size: 16px;
}

.link-like {
    color: #146588;
    text-decoration: underline;
    cursor: pointer;
}
.link-like:hover {
    text-decoration: none;
}

/* Media queries for mobile devices */
@media (max-width: 576px) {
    .section-name {
        font-size: 1.5rem;
    }

    .section-sub-title {
        font-size: 1.2rem;
    }

    .app-title-text {
        font-size: 2rem;
        align-content: flex-end;
    }

    .app-title-sub-text {
        font-size: 1rem;
    }
    
    .logout-text {
        margin-top: 30px;
        font-weight: bold;
    }

    /*.top-banner {*/
    /*    height: 20vh; !* Reduce height for mobile *!*/
    /*}*/
    
    /*.body-position {*/
    /*    padding-top: 20vh; !* Adjust padding for mobile *!*/
    /*}*/

    .navbar-phone {
        width: auto;
        align-content: center;
    }
    
    .navbar-nav {
        flex-direction: column;
        width: auto;
        justify-content: center;
    }

    .nav-item {
        width: 50%;
    }
    
    .nav-item-margin {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .navbar-nav .nav-link {
        text-align: center;
    }
    
    .welcome-section {
        flex-direction: column;
    }

    .welcome-message {
        font-weight: 300;
        font-size: 1.5rem;
    }

    .memo-card {
        flex-basis: 100%;
    }

    .memo-img {
        max-width: 60%;
    }

    .modal-content, .memo-modal-content {
        width: 90%;
    }
}